/* Sección Inicio */
#inicio {
  background: linear-gradient(135deg, #568db4, #7090af);
  padding: 80px 0;

}

#inicio h1 {
  color: #12161b;
}
#inicio p {
  color: #080707;
}
#inicio .btn {
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 30px;
}