/* Formulario de turnos */
#turnos {
  background: linear-gradient(135deg, #7090af,#568db4);
}

#turnos h2 {
  color: #0d0f13;
  font-weight: 600;
}
.form {
  max-width: 800px;
  margin: 0 auto;
}
.form .btn-success {
  padding: 10px 30px;
  font-size: 1.1rem;
  border-radius: 35px;
}

/* Sección Contacto */
#contacto {
  background: linear-gradient(135deg, #568db4, #7090af);
  border-top: 1px;
}
#contacto h2 {
  color: #05090f;
}
#contacto p {
  font-size: 1rem;
  color: #05090f;
}

#contacto img {
  width: 35px;
  height: 35px;
  border-radius: 55%;
} 
